<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jerry.mapper.CommodityMapper">

    <select id="getShopName" resultType="string" >
        select s.shop_name
        from commodity c,shop_commodity sc,shop s
        where c.id = #{cid} and
              c.id = sc.commodity_id and
              sc.shop_id = s.id
    </select>

</mapper>
